@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Share+Tech+Mono&display=swap');
html {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: black;
    color: white;
    padding: 0 10px;
}
code {
    font-family: 'Share Tech Mono', monospace;
    white-space: pre;
    color: gainsboro;
}
/* if screen is larger than 1000px then add padding to the page */
@media (min-width: 1000px) {
    html {
        padding: 25px 250px;
    }
}
.top {
    display: flex;
    justify-content: left;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

a {
    color: #ffb454;
}

hr {
    color: white;
    margin-top: 2em;
}

.logo {
    width: auto;
    height: 100px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right {
    padding-left: 20px;
}

.comment {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .keyword {
    font-style: italic;
    font-weight: normal;
    color: #acb6bf8c;
}

.comment .function {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .number {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .variable {
    font-style: italic;
    color: #acb6bf8c;
}

.keyword {
    font-weight: bolder;
    color: #ff8f40;
}

.function {
    color: #ffb454;
}

.variable .function {
    color: #ffb454;
}

.number {
    color: #e6b450;
}

.variable {
    color: #f29668;
}

.string {
    color: #c3e88d;
}

.string .variable {
    color: #c3e88d;
}

.string .function {
    color: #c3e88d;
}

.string .number {
    color: #c3e88d;
}

.string .keyword {
    color: #c3e88d;
}