@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Share+Tech+Mono&display=swap');
html {
    font-family: 'Inter Tight', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: black;
    color: white;
    padding: 0 10px;
}
code {
    font-family: 'Share Tech Mono', monospace;
    white-space: pre;
    color: gainsboro;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (min-width: 1300px) {
    html {
        padding: 20px 250px;
    }
    .left {
        display: block !important;
        width: 50%;
    }
    .right {
        display: block !important;
        width: 50%;
    }

    #hide {
        display: none;
    }
}

@media (min-width: 801px) {
    .left {
        display: block !important;
        width: 50%;
        word-wrap: break-word;
    }

    .right {
        display: block !important;
        padding: 20px;
    }

    #hide {
        display: none;
    }
}

#hide {
    display: none;
}

@media (max-width: 800px) {
    .body {
        display: block;
    }
    #example {
        display: none;
    }
    #hide {
        display: block;
        color: silver;
        text-decoration: silver underline;
        font-style: italic;
        font-size: 12px;
    }
}

.top {
    display: flex;
    justify-content: left;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

a {
    color: #ffb454;
}

ul {
    list-style-type: "> ";
}

hr {
    color: white;
    margin-top: 2em;
}

.logo {
    width: auto;
    height: 100px;
}

.comment {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .keyword {
    font-style: italic;
    font-weight: normal;
    color: #acb6bf8c;
}

.comment .function {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .number {
    font-style: italic;
    color: #acb6bf8c;
}

.comment .variable {
    font-style: italic;
    color: #acb6bf8c;
}

.keyword {
    font-weight: bolder;
    color: #ff8f40;
}

.function {
    color: #ffb454;
}

.variable .function {
    color: #ffb454;
}

.number {
    color: #e6b450;
}

.variable {
    color: #f29668;
}

.string {
    color: #c3e88d;
}

.string .variable {
    color: #c3e88d;
}

.string .function {
    color: #c3e88d;
}

.string .number {
    color: #c3e88d;
}

.string .keyword {
    color: #c3e88d;
}